*
{
    margin: 0;
    padding: 0;
}

body
{
    background: #dedede none repeat scroll 0 0;
    border: 0 none;
    font-family: "黑体";
    font-size: 14px;
    margin: 0;
    min-width: 750px;
}

a
{
    text-decoration: none;
}

.head, .footer
{
    width: 100%;
    height: 60px;
    background: black;
    line-height: 60px;
    color:#fff;
    font-weight:bold;
}

    .head img
    {
        float: left;
        margin-left: 40px;
    }

    .head ul
    {
        float: right;
        margin-right: 20px;
        overflow: auto;
    }

        .head ul li
        {
            float: left;
            width: 80px;
        }

        .head ul a
        {
            color: #fff;
        }

.nav
{
    padding: 20px;
    background: #dedede;
}

.right
{
    float: right;
    width: 345px;
    height: 460px;
    background: #fff;
    /*border: 1px solid #999;*/
    padding: 20px;
    box-shadow: 2px 2px 2px #848484;
}

form .aside
{
    border-left: 3px solid #ccc;
    padding-left: 10px;
}

form > div
{
    /*border:1px solid blue;*/
    margin: 10px 0;
}

    form > div:last-child
    {
        text-align: center;
    }

form p
{
    /*border: 1px solid red;*/
    display: inline-block;
    vertical-align: top;
    line-height: 2;
    color: #808080;
}

form span:first-child
{
    line-height: 2;
    width: 100px;
    display: inline-block;
    float: left;
    margin-right: 26px;
    /*border: 1px solid green;*/
    text-align: right;
}

form p input
{
    display: block;
    margin-right: 10px;
}

form label
{
    margin-right: 10px;
}

form p input[type=radio], input[type=checkbox]
{
    display: inline;
}

form input[type=submit]
{
    background: #3355d0;
    border: 1px solid #3355d0;
    width: 90%;
    font-weight: 800;
    text-align: center;
    line-height: 3;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

textarea
{
    height: 100px;
}


.article
{
    background-color: #fff;
    box-shadow: 2px 2px 2px #848484;
    line-height: 1.5;
    margin-right: 405px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #999;
}

.headtitle
{
    line-height: 3;
}

.article img
{
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text_indent
{
    text-indent: 2em;
}

h4, h3
{
    color: gray;
}

.list
{
    padding: 20px;
}

    .list ul
    {
        list-style: none;
    }

.part3
{
    overflow: hidden;
}

.beautifulimg
{
    margin: 40px;
    height: 120px;
    width: 140px;
    border: 1px solid #aaa;
    text-align: center;
    float: left;
}

    .beautifulimg img
    {
        width: 80%;
        margin-top: 0px;
    }

    .beautifulimg p
    {
        padding: 5px;
    }

.decimal
{
    /*border:1px solid black;*/
    margin-left: 20px;
}

    .decimal li
    {
        list-style: decimal;
    }

table
{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

    table caption
    {
        text-align: left;
    }

thead
{
    background: #333 none repeat scroll 0 0;
    color: white;
}

tfoot
{
    font-weight: bold;
    background: #ccc none repeat scroll 0 0;
}
.footer
{
    text-align:center;
}